h1 {
  font-family:'Times New Roman', Times, Arial, Helvetica, sans-serif;
  font-style: unset;
  text-align- auto;
  color: white;
  font-weight: 400;
  text-align: center;
}
body {
  background-color:turquoise;
  }
  #navbar

